body{
    margin: 50px;
    background-image: url( 'sheepeyR8.png') ;
    background-position: center;
    background-size: contain;
}


#clock-container{  
    display: flex;
 justify-content: center;
 align-items: center;
    margin-top: 200px;
    font-size: 200px;
    height: 100vh;
}
 
#clock{
  backdrop-filter: 50px;
}
 

 
 